.footer__link {
  text-decoration: none;
  margin: 0;
  margin-right: 18px;
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}

.footer__link:nth-child(5n) {
  margin-right: 0;
}

@media screen and (max-width: 984px) {
  .footer__link {
    margin-right: 18px;
  }
}

@media screen and (max-width: 768px) {
  .footer__link {
    margin-right: 1.83vw;
    font-size: 2.03vw;
  }
}

@media screen and (max-width: 568px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
    margin-right: 0;
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 568px) {
  .footer__link:nth-child(5n) {
    margin-bottom: 0;
  }
}