.lead__image {
  background-image: url(../../../images/main-illustration.png);
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: 100%;
  box-sizing: border-box;
  background-position: center;
  width: 100%;
  min-height: 615px;
  margin-top: 64px;
  margin-bottom: 0;
}

@media screen and (max-width: 1140px) {
  .lead__image {
    min-height: 580px;
    margin-top: 56px;
  }
}

@media screen and (max-width: 984px) {
  .lead__image {
    min-height: 480px;
    margin-top: 56px;
  }
}

@media screen and (max-width: 568px) {
  .lead__image {
    min-height: 200px;
    margin-top: 40px;
  }
}